[Package]
version: 1
depends: 

[Product]
type: localboot
id: dfn_qgis
name: QGIS
description: Geoinformationssysteme 'QGIS' und 'Grass GIS' zum Betrachten, Bearbeiten und Auswerten von raster- und vektororientierten Geodaten [Geographic information systems 'QGIS' and 'Grass GIS' for viewing, editing and analysis of geospatial data]
advice: 
version: 3.4.7
priority: 0
licenseRequired: False
productClasses: 
setupScript: setup64.opsiscript
uninstallScript: uninstall64.opsiscript
updateScript: 
alwaysScript: 
onceScript: 
customScript: 
userLoginScript: 

[ProductProperty]
type: bool
name: desktop-link
description: Link on Desktop?
default: False

[ProductProperty]
type: bool
name: show-tips
description: Show tips when QGIS is started?
default: False

[ProductProperty]
type: unicode
name: custom-post-install
multivalue: False
editable: False
description: Define filename for include script in custom directory after installation
values: ["none", "post-install.opsiinc"]
default: ["none"]

[ProductProperty]
type: unicode
name: custom-post-deinstall
multivalue: False
editable: False
description: Define filename for include script in custom directory after deinstallation
values: ["none", "post-deinstall.opsiinc"]
default: ["none"]

[Changelog]
dfn_qgis (3.4.7-1)
	* neue Upstreamversion
	* automatisiertes Finden des InstFiles
	* Änderung bei der Versionsermittlung von Grass GIS
-- Francesco Ritt (archIT/KIT) <francesco.ritt9@kit.edu>, 26.04.2019

dfn_qgis (3.4.6-1)
	* neue Upstreamversion
	* Check ob InstFile gefunden wird
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 01.04.2019

dfn_qgis (3.4.5-1)
	* neue Upstreamversion
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 26.02.2019

dfn_qgis (3.4.4-1)
	* Testversion mit Wechsel auf 3.4 (neue LTR ab 3.4.5, siehe https://qgis.org/en/site/getinvolved/development/roadmap.html#release-schedule)
	* login.opsiscript entfernt da mit 3.4 nicht mehr notwendig
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 23.01.2019

dfn_qgis (2.18.28-1)
	* neue Upstreamversion
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 22.01.2019

dfn_qgis (2.18.27-1)
	* neuer Upstream
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 02.01.2019

dfn_qgis (2.18.26-1)
	* neuer Upstream
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 27.11.2018

dfn_qgis (2.18.25-1)
	* neue Upstreamversion
	* neues o4i-Logo
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 29.10.2018

dfn_qgis (2.18.24-1)
	* neue Upstreamversion
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 18.09.2018

dfn_qgis (2.18.23-1)
	* neue Upstreamversion
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 21.08.2018

dfn_qgis (2.18.22-1)
	* neue Upstreamversion
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 24.07.2018

dfn_qgis (2.18.21-1)
	* neue Upstreamversion
	* neue Registrysuche (https://github.com/opsi4instituts/lib)
	* Suche nach altem Produktnamen (Quantum GIS) entfernt
	* uib_exitcode library
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 11.07.2018

dfn_qgis (2.18.20-1)
	* neue Upstreamversion
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 22.05.2018

dfn_qgis (2.18.19-1)
	* neue Upstreamversion
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 26.04.2018

dfn_qgis (2.18.18-1)
	* neue Upstreamversion
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 10.04.2018

dfn_qgis (2.18.17-2)
	* bei der Pfadermittlung wird nun automatisch erkannt ob es sich um eine normale oder LTR Version handelt
 -- Francesco Ritt (archIT/KIT) <francesco.ritt9@kit.edu>, 09.04.2018

dfn_qgis (2.18.17-1)
	* neue Upstreamversion (Long-Term-Release = LTR)
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 27.02.2018

dfn_qgis (2.18.16-1)
	* neue Version gepackt und kleinen Fehler gefixt
 -- Francesco Ritt (archIT/KIT) <francesco.ritt9@kit.edu>, 05.02.2018

dfn_qgis (2.18.14-1)
	* neue Upstreamversion
	* Logo gem. o4i-Richtlinie
	* 64-Bit-Check: error statt warning
 -- Thomas Besser (archIT/KIT) <thomas.besser@kit.edu>, 02.11.2017

dfn_qgis (2.18.13-1)
	* neue Version gepackt
 -- Francesco Ritt (archIT/KIT) <francesco.ritt9@kit.edu>, 23.10.2017

dfn_qgis (2.18.12-1)
	* Fixes und neue Version gepackt
 -- Francesco Ritt (archIT/KIT) <francesco.ritt9@kit.edu>, 19.10.2017









